html{
  overflow-x: hidden!important;
  font-size: var(--font-body-size);
}
body{
  overflow: hidden!important;
  position: relative;
  &.boxed{ 
	 background-color: #EAF1F7;  
	 div.gva-body-wrapper{
		background: $white;
		max-width: 1440px;  
		margin: 0 auto;
		box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.05);
		position: relative;
	 }
  }
  .body-page{
	 background-color: #fff;
  }
  &.logged-in{
	 &.toolbar-horizontal{ 
		.header-1{
		  margin-top: 39px;
		}
	 }
  }
  &.bg-dark{
	 background: #EFF1F2;
	 .gva-body-page{
		background: #EFF1F2;
	 }
  }
}

.area{
  &.slideshow_content{
	 .block{
		margin-bottom: 0;
	 }
  }
}

.area-panel{
  padding: 30px 0;
}

.help.show{
   display: block!important;
}

.header-right{
  .block{
	 margin-bottom: 0;
  }
}

#page-main-content{
  min-height: 360px;
  @media(max-width: 768.9px){
	 min-height: 100px;
  }
}

.main-menu{
  .area-main-menu{
	 .area-inner{
		.block{
		  margin-bottom: 0;
		}
	 }  
  }
}  


#footer{
	color: var(--footer-color); 
	font-size: 16px;
	background: var(--footer-bg-color); 
	background-size: cover;
  a{
	 	color: var(--footer-link-color);
	 	&:hover, &:focus{
			color: var(--footer-link-color-hover);
	 	}
  }
 	.gsc-socials {
  	margin: 25px 0 0;
  	a{
	  	margin-right: 8px;
	  	i{
	  		width: 40px;
	  		height: 40px;
	  		background: #262D28;
	  	}
	  	&:hover, &:focus{
	  		i{
	  			background: $white;
	  			color: $link-color;
	  		}
	  	}
	  }
  }
  ul.menu > li{
  	padding-bottom: 5px;
  }
  .block{
	 	padding-bottom: 0;
	 	margin-bottom: 0;
	 	.block-title{
			color: $white;
			font-size: 20px;
			font-weight: 700;
			line-height: 22px;
			letter-spacing: 0;
			margin-top: 8px;
			margin-bottom: 0;
			padding-bottom: 32px;
			&:before{
				content: none;
			}
	 	}
  }
  .copyright{
	 	font-size: 15px;
	 	font-weight: 400;
	 	.copyright-inner{
			padding: 30px 0;
			border-top: 1px solid rgba(255, 255, 255, 0.1);
	 	}
  }
}
