.gsc-heading{
	padding: 0 0 40px;
	display: block;
	width: 100%;
	@include clearfix();
	@media(max-width: 767px){
	  padding: 0 0 30px;
	}
	&__title{
	  	position: relative;
	  	margin: 0;
	  	letter-spacing: -0.6px;
	  	font-size: 48px;
	  	margin-top: -10px;
	  	@media (max-width: 1024px){
		  	font-size: 39px;
	  	}
		@media (max-width: 991px){
		  	font-size: 34px;
	  	}
		@media (max-width: 767px){
		  	font-size: 30px;
	  	}
	  	@media (max-width: 575px){
		  	font-size: 28px;
	  	}
	}
	&__sub-title{
		color: $body-color;
		font-size: 14px;
		font-weight: 600;
		margin-bottom: 15px;
		
		&.text-light{
			color: #a0a0c0!important;
		}
		+ .gsc-heading__title{
			margin-top: 0!important;
		} 
	}
	&__desc{
		margin: 20px 0 0;
		line-height: 1.88;
		.title-desc{
			font-size: 20px;
			margin-top: -15px;
			margin-bottom: -5px;
		}
		&.text-gray{
			color: #a0a0c0!important;
		}
		ul.features-list-2{
			padding-top: 15px;
		}
	}
	&__action{
	 	margin-top: 30px;
	 	@include media-breakpoint-down(md){
			margin-top: 15px;
	 	}
	}
	&__align-center{
	  	text-align: center;
	  	margin: 0 auto;
	  	.gsc-heading__desc{
	  		margin: 15px 0 0;
	  	}
	}
  	&__align-left{
	 	text-align: left;
 	}
  	&__align-right{
	 	text-align: right;
	 	float: right;
	 	@include clearfix();
  	}
}
.style-1, .style-6{
	.gsc-heading{
		&__sub-title{
			font-size: 16px;
			font-weight: 600;
			color: $theme-color;
			line-height: 22px;
			span{
				background: rgba(99,171,69, 0.12);
				padding: 9px 22px;
				display: inline-block;
				@include border-radius(6px);
			}
		}
	}
}
.style-2{
	&.gsc-heading{
		padding-bottom: 30px;
	}
	.gsc-heading{
		&__title{
			margin-top: -13px;
		  	font-size: 60px;
		  	@include media-breakpoint-down(xl){
			  	font-size: 40px;
			  	margin-top: -7px;
			}
			@include media-breakpoint-down(lg){
			  	font-size: 36px;
			}
			@include media-breakpoint-down(md){
			  	font-size: 30px;
			  	letter-spacing: 0;
			}
		}
	}
}

.style-3{
	&.gsc-heading{
		padding-bottom: 25px;
	}
	.gsc-heading{
		&__title{
		  	position: relative;
		  	margin: 0;
		  	font-size: 20px;
		  	line-height: 22px;
		  	letter-spacing: 0;
		  	span{
		  		position: relative;
		  		&:after{
		  			content: '';
				    width: 18px;
				    height: 26px;
				    background: url("#{$base-theme-image-path}/arrow.png") no-repeat center center transparent;
				    display: inline-block;
				    position: absolute;
				    top: 12px;
				    left: calc(100% + 12px);
		  		}
		  	}
		}
		&__desc{
			font-size: 16px;
		    font-weight: 500;
		    line-height: 26px;
		    margin-top: 29px;
		}
	}
}
.style-4{
	&.gsc-heading{
		padding-bottom: 30px;
	}
	.gsc-heading{
		&__content{
			position: relative;
			display: inline-block;
		}
		&__sub-title{
			font-size: 18px;
			font-weight: 500;
			color: $white;
			display: inline-block;
		    background: $theme-color-second;
		    padding: 5px 20px;
		    position: absolute;
		    z-index: 9;
		    left: 0;
		    top: -36px;
		    transform: rotate(-15deg) translateX(-36%);
			@media (max-width: 767px){
				font-size: 16px;
				transform: rotate(-12deg) translateX(-20%);
		  	}
		}
		&__title{
			letter-spacing: 5px;
		  	font-size: 86px;
		  	line-height: 1.1;
		  	@media (max-width: 1024px){
			  	font-size: 50px;
			  	letter-spacing: 2px;
		  	}
			@media (max-width: 767px){
			  	font-size: 36px;
		  	}
		}
	}
}
.style-5{
	&.gsc-heading{
		padding-bottom: 30px;
	}
	.gsc-heading{
		&__content{
			position: relative;
			display: inline-block;
		}
		&__sub-title{
			font-size: 18px;
			font-weight: 500;
			color: $white;
			display: inline-block;
		    background: $theme-color-second;
		    padding: 5px 20px;
		    position: absolute;
		    z-index: 9;
		    left: 0;
		    top: -36px;
		    transform: rotate(-15deg) translateX(-36%);
			@media (max-width: 767px){
				font-size: 16px;
				transform: rotate(-12deg) translateX(-20%);
		  	}
		}
		&__title{
		  	font-size: 58px;
		  	line-height: 1.1;
		  	@media (max-width: 1024px){
			  	font-size: 42px;
		  	}
			@media (max-width: 767px){
			  	font-size: 36px;
		  	}
		  	@media (max-width: 575px){
		  		margin-top: 0;
		  	}
		}
		&__desc{
			color: #DADADA;
			font-size: 22px;
		}
	}
}
.style-6{
	.gsc-heading{
		&__title{
			font-size: 82px;
			@media (max-width: 1349px){
				font-size: 60px;
			}
			@media (max-width: 1199px){
				font-size: 50px;
			}
			@media (max-width: 1024px){
				font-size: 42px;
			}
			@media (max-width: 767px){
				font-size: 32px;
			}
		}
		&__desc{
			font-size: 18px;
			line-height: 32px;
			@media (max-width: 1024px){
				font-size: 16px;
			}
		}
	}
}