<article class="testimonial-three__single">      
   <div class="testimonial-three__content">
      <div class="testimonial-three__top">
         <div class="testimonial-three__quote-icon"><i class="gwflaticon-quote"></i></div>
         <div class="testimonial-three__stars"> 
            <i class="fa fa-star"></i> 
            <i class="fa fa-star"></i> 
            <i class="fa fa-star"></i> 
            <i class="fa fa-star"></i> 
            <i class="fa fa-star"></i>
         </div>
      </div>
      <div class="testimonial-three__quote">
         {{ fields.body.content|striptags|trim }}
      </div>  
      <div class="testimonial-three__meta">
         <div class="testimonial-three__avatar">
            {{ fields.field_testimonial_avatar.content }}
         </div>
         <div class="testimonial-three__info">
            <h3 class="testimonial-three__name">{{ fields.field_testimonial_name.content }}</h3>
            <div class="testimonial-three__job">{{ fields.field_testimonial_job.content }}</div>   
         </div>
      </div>
   </div>
</article>
  